- Pandas â€“ Data Analysis Library
Why Learn Pandas?\
What is it?\
Pandas is a Python library for data manipulation and analysis. It provides Series (1D) and DataFrames (2D tabular data).

Why we need it?
1. Simplifies data cleaning, exploration, and manipulation.
2. Handles large datasets efficiently.
3. Built on top of NumPy for fast computations.


Where is it used?
1. Data Analysis & Reporting
2. Machine Learning (preprocessing datasets)
3. Finance, Healthcare, Marketing data analysis
4. CSV/Excel/SQL data handling

In [2]:
import pandas as pd

3.Series & DataFrames

In [3]:
# Series 
s = pd.Series([10, 20, 30, 40]) 
print("Series:\n", s) 
# DataFrame from dict 
data = {'Name': ['Alice','Bob','Charlie'], 'Age':[25,30,35]} 
df = pd.DataFrame(data) 
print("\nDataFrame:\n", df)

Series:
 0    10
1    20
2    30
3    40
dtype: int64

DataFrame:
       Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

- 4. Reading and exploring the data

In [14]:
# Read CSV (replace with your file path)
df = pd.read_csv("most_runs_average_strikerate.csv")
 
# Explore
print(df.head())
print("\n")
print(df.tail())
print("\n")
print(df.info())
print("\n")


print(df.describe())
print("\n")

print(df.shape)

     batsman  total_runs  out  numberofballs    average  strikerate
0    V Kohli        5426  152           4111  35.697368  131.987351
1   SK Raina        5386  160           3916  33.662500  137.538304
2  RG Sharma        4902  161           3742  30.447205  130.999466
3  DA Warner        4717  114           3292  41.377193  143.286756
4   S Dhawan        4601  137           3665  33.583942  125.538881


            batsman  total_runs  out  numberofballs  average  strikerate
511        ND Doshi           0    1             13      0.0         0.0
512         J Denly           0    1              1      0.0         0.0
513         S Ladda           0    2              9      0.0         0.0
514  V Pratap Singh           0    1              1      0.0         0.0
515       S Kaushik           0    1              1      0.0         0.0


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 516 entries, 0 to 515
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   batsman        516 non-null    object
 1   total_runs     516 non-null    int64
 2   out            516 non-null    int64
 3   numberofballs  516 non-null    int64
 4   average        482 non-null    float64
 5   strikerate     516 non-null    float64
dtypes: float64(2), int64(3), object(1)
memory usage: 24.3+ KB
None


        total_runs         out  numberofballs     average  strikerate
count   516.000000  516.000000     516.000000  482.000000  516.000000
mean    430.625969   17.063953     335.645349   16.355074  105.433442
std     882.275431   28.124511     663.593679   11.146222   39.633938
min       0.000000    0.000000       1.000000    0.000000    0.000000
25%      15.000000    2.000000      17.000000    8.000000   84.362069
50%      74.000000    5.500000      68.000000   14.607143  111.651584
75%     340.500000   18.000000     290.000000   23.657609  130.499036
max    5426.000000  161.000000    4111.000000   88.000000  250.000000


(516, 6)

In [17]:
# Select column
print(df['batsman'])
print("\n")

# Select multiple columns
print(df[['batsman','total_runs']])
print("\n")

# Select row by index
print(df.iloc[0])       # first row
print(df.loc[0])        # first row using label
print("\n")

# Select subset of rows and columns
print(df.loc[0:1, ['batsman','out']])

0             V Kohli
1            SK Raina
2           RG Sharma
3           DA Warner
4            S Dhawan
            ...
511          ND Doshi
512           J Denly
513           S Ladda
514    V Pratap Singh
515         S Kaushik
Name: batsman, Length: 516, dtype: object


            batsman  total_runs
0           V Kohli        5426
1          SK Raina        5386
2         RG Sharma        4902
3         DA Warner        4717
4          S Dhawan        4601
..              ...         ...
511        ND Doshi           0
512         J Denly           0
513         S Ladda           0
514  V Pratap Singh           0
515       S Kaushik           0

[516 rows x 2 columns]


batsman             V Kohli
total_runs             5426
out                     152
numberofballs          4111
average           35.697368
strikerate       131.987351
Name: 0, dtype: object
batsman             V Kohli
total_runs             5426
out                     152
numberofballs          4111
average           35.697368
strikerate       131.987351
Name: 0, dtype: object


    batsman  out
0   V Kohli  152
1  SK Raina  160

In [18]:
# Filter rows
print(df[df['out'] > 28])
 
# Sort by Age
print(df.sort_values('out', ascending=False))

       batsman  total_runs  out  numberofballs    average  strikerate
0      V Kohli        5426  152           4111  35.697368  131.987351
1     SK Raina        5386  160           3916  33.662500  137.538304
2    RG Sharma        4902  161           3742  30.447205  130.999466
3    DA Warner        4717  114           3292  41.377193  143.286756
4     S Dhawan        4601  137           3665  33.583942  125.538881
..         ...         ...  ...            ...        ...         ...
118  LR Shukla         405   29            346  13.965517  117.052023
123   R Ashwin         376   33            336  11.393939  111.904762
126   A Mishra         366   29            385  12.620690   95.064935
128   R Bhatia         342   29            284  11.793103  120.422535
129    P Kumar         340   34            314  10.000000  108.280255

[97 rows x 6 columns]
              batsman  total_runs  out  numberofballs    average  strikerate
2           RG Sharma        4902  161           3742  30.447205  130.999466
1            SK Raina        5386  160           3916  33.662500  137.538304
7          RV Uthappa        4420  156           3381  28.333333  130.730553
0             V Kohli        5426  152           4111  35.697368  131.987351
11         KD Karthik        3669  138           2813  26.586957  130.430146
..                ...         ...  ...            ...        ...         ...
455       A Dananjaya           4    0              5        NaN   80.000000
461          RS Sodhi           4    0              2        NaN  200.000000
464           S Tyagi           3    0              4        NaN   75.000000
468         JE Taylor           3    0              3        NaN  100.000000
478  Mashrafe Mortaza           2    0              2        NaN  100.000000

[516 rows x 6 columns]

In [19]:
# Add new column
df['total_runs_add5'] = df['total_runs'] + 5
print(df)
print("\n")
 
# Drop column
df = df.drop('total_runs_add5', axis=1)
print(df)
print("\n")

 
# 8. GroupBy & Aggregation
data = {'Name':['Alice','Bob','Charlie','Alice','Bob'],
        'Score':[85,90,95,80,70]}
df = pd.DataFrame(data)
 
# Group by Name and calculate mean score
grouped = df.groupby('Name').mean()
print(grouped)

            batsman  total_runs  out  numberofballs    average  strikerate  \
0           V Kohli        5426  152           4111  35.697368  131.987351
1          SK Raina        5386  160           3916  33.662500  137.538304
2         RG Sharma        4902  161           3742  30.447205  130.999466
3         DA Warner        4717  114           3292  41.377193  143.286756
4          S Dhawan        4601  137           3665  33.583942  125.538881
..              ...         ...  ...            ...        ...         ...
511        ND Doshi           0    1             13   0.000000    0.000000
512         J Denly           0    1              1   0.000000    0.000000
513         S Ladda           0    2              9   0.000000    0.000000
514  V Pratap Singh           0    1              1   0.000000    0.000000
515       S Kaushik           0    1              1   0.000000    0.000000

     total_runs_add5
0               5431
1               5391
2               4907
3               4722
4               4606
..               ...
511                5
512                5
513                5
514                5
515                5

[516 rows x 7 columns]


            batsman  total_runs  out  numberofballs    average  strikerate
0           V Kohli        5426  152           4111  35.697368  131.987351
1          SK Raina        5386  160           3916  33.662500  137.538304
2         RG Sharma        4902  161           3742  30.447205  130.999466
3         DA Warner        4717  114           3292  41.377193  143.286756
4          S Dhawan        4601  137           3665  33.583942  125.538881
..              ...         ...  ...            ...        ...         ...
511        ND Doshi           0    1             13   0.000000    0.000000
512         J Denly           0    1              1   0.000000    0.000000
513         S Ladda           0    2              9   0.000000    0.000000
514  V Pratap Singh           0    1              1   0.000000    0.000000
515       S Kaushik           0    1              1   0.000000    0.000000

[516 rows x 6 columns]


         Score
Name
Alice     82.5
Bob       80.0
Charlie   95.0

9. Handling Missing Data

In [21]:
data = {'Name':['Alice','Bob','Charlie','David'],
        'Age':[25, None, 35, 40]}
df = pd.DataFrame(data)
 
# Fill missing value
df['Age'] = df['Age'].fillna(df['Age'].mean())
print(df)
 
# Drop rows with missing values
# df = df.dropna()

      Name        Age
0    Alice  25.000000
1      Bob  33.333333
2  Charlie  35.000000
3    David  40.000000